body {
  margin: 0;
}

.nav {
  /* border: solid palevioletred; */
  display: flex;
  align-items: center;
  padding: 0px 27px;
  background: #21222A;
}

.react-logo {
  width: 25px;
  height: 25px;
}

.page-name {
  margin-right: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.05em;

  color: #61DAFB;
}

.react-course {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #DEEBF8;
}

.nav > * {
  /* border: solid yellow; */
}