body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.nav {
  /* border: solid palevioletred; */
  display: flex;
  align-items: center;
  padding: 30px 27px;
  background: #21222A;
}

nav>h3,
nav>h4 {
  margin: 0;
}

.react-logo {
  height: 25px;
  margin-right: 7px;
}

.page-name {
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.05em;

  color: #61DAFB;
}

.react-course {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #DEEBF8;
}

.main-content {
  /* border: solid green; */
  background-color: #282D35;
  color: #FFFFFF;
  padding: 57px 0px 80px 27px;

  background-image: url("./assets/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.main-content>h1 {
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
  letter-spacing: -0.05em;

  padding-bottom: 36px;
  margin: 0;
}

.react-facts {
  list-style: none;
  /* for a blue bulets */
  padding-left: 71px;
  margin: 0;
  max-width: 400px;
}

/* for a blue bulets */
.react-facts li::before {
  color: #61DAFB;

  content: "\2022";
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.react-facts>li {
  margin-block: 13px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main-content>* {
  /* border: solid yellow; */
}